<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MakanNin</title>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
</head>

<body>
    <a href="#content" class="skip-link">Skip to content ?</a>
    <header class="header">
        <div class="header__inner">
            <a href="#" class="header__logo">
                <h1 class="header__title">MakaNin</h1>
            </a>
            <button id="menu" class="header__menu" aria-label="open menu">☰</button>
            <nav id="drawer" class="nav">
                <ul class="nav__list">
                    <li class="nav__item"><a href="#">Home</a></li>
                    <li class="nav__item"><a href="#">Favorite</a></li>
                    <li class="nav__item"><a href="https://github.com/Rizki-SS">About Us</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="hero">
        <div class="hero__inner">
            <h1 class="hero__title">Cari Tempat Makanmu hari ini</h1>
            <p class="hero__tagline">Dapatkan informasi seputar tempat makan yang sesuai dengan suasana hari mu</p>
        </div>
    </div>

    <main id="content">
        
    </main>

    <footer>
        <ul>
            <li><a href="#">Help</a></li>
            <li><a href="#">Favorite</a></li>
            <li><a href="https://github.com/Rizki-SS">About Us</a></li>
            <li>Copyright © 2021 - Makanin</li>
        </ul>
    </footer>
</body>

</html>