<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MakanNin</title>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" defer href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="apple-touch-icon" sizes="180x180" href="./images/icon/apple-touch-icon-180x180.png">

    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#000000">
</head>

<body>
    <a href="#content" class="skip-link">Skip to content ?</a>
    <header class="header">
        <div class="header__inner">
            <a href="#" class="header__logo">
                <h1 class="header__title">MakaNin</h1>
            </a>
            <button id="menu" class="header__menu" aria-label="open menu">☰</button>
            <nav id="drawer" class="nav">
                <ul class="nav__list">
                    <li class="nav__item"><a href="#">Home</a></li>
                    <li class="nav__item"><a href="#/favorit">Favorite</a></li>
                    <li class="nav__item"><a href="https://github.com/Rizki-SS">About Us</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main id="content">
        
    </main>

    <footer>
        <ul>
            <li>Copyright © 2021 - Makanin</li>
        </ul>
    </footer>
</body>

</html>